<%= render @movie %>

<%= render collection: reject_keys(@resp.keys, [:poster, :ratings]), partial: "movies/kv", locals: { movie: @resp } %>

<div>
  <%= link_to "Edit this movie", edit_movie_path(@movie) %> |
  <%= link_to "Back to movies", movies_path %>

  <%= button_to "Destroy this movie", @movie, method: :delete %>
</div>
